body {
	font-family: sans-serif;
}

.margin-bottom {
	margin-bottom: 10px;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 1.4em;
}

/* Css for same column height */
@media only screen and (min-width : 768px) {
  .is-table-row {
    display: table;
  }
  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}

.is-table-row .item {
  position: static;
}

}/*End Css */

/*Unset same height script when mobile screen */
@media only screen and (max-width : 767px) {
  .item > div{
    height: auto !important;
  }
}
/*end */

#topnav {
	margin-bottom: 0;
	position: relative;
	border: none;
	border-radius: 0;
	background: #000;
	padding: 5px;
}

#logo img {
	height: 50px;
}

#topnav .nav li a {
	color: #fff;
}

#topnav .contact.details {
	vertical-align: middle;
	color: #fff;
}

#topnav .nav .contact.details p {
	padding-left: 5px;
}

#topnav .nav li.active a, #topnav .nav li a:hover {
	background: #5bba49;
}

#topnav .nav li a.fa-facebook {
	background: #3b5998;
}

#topnav .nav li a.fa-google-plus {
	background: #d04d3d;
}

#topnav .nav li a.fa-facebook:hover {
	background: #3b59ad;
}
#topnav .nav li a.fa-google-plus:hover {
	background: #d84d3d;
}

/*Footer Style */
footer {
	background: #0e0e0e;
	color: #686758;
	font-size: 1.2em;
	font-family: 'Roboto',sans-serif;
}

footer a {
	color: #686758;
}

footer ul.nav {
	margin-left: -15px;
}

footer ul.nav li {
	border-bottom: #1e1e1e 1px solid;
}

footer h4, footer ul.nav li a {
	padding-left: 0px;
}

footer h4, footer ul.nav a:hover {
	color: #5bba49;
	background-color: unset;
}

footer .bottomrow {
	padding: 5px;
	background-color: #0a0a0a;
	margin: 0 -15px;
}
/*End Footer Style */


.breadcrumb {
	background: unset;
	border: none;
}

.breadcrumb a {
	color: #999;
}

.breadcrumb>.active  {
	color:#fff;
}